{% extends "base.html" %}
{% block title %}Подписки | Yatube{% endblock %}
{% block content %}
{% load cache %}

<h1>П-Подписки</h1>

<div class="container">
        {% include "menu.html" with index=True %}
        {% cache 20 index_page with page %}
                {% for post in page %}
                        {% include "post_item.html" with post=post %}
                {% endfor %}
        {% endcache %}
</div>

{% include "paginator.html" with items=page paginator=paginator%}
{% endblock %}
